// _base.scss
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$bg-color: rgb(104, 104, 2);
body {
  font: 100% $font-stack;
  color: $primary-color;
}

.border-style{
    border: 2px solid $primary-color;
    background-color:$bg-color;
}